<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="index?action=postFormulaire" method="post">
        <label for="titre">Titre:</label>
        <input type="text" id='titre' name='titre'>
        <label for="texte">Texte:</label>
        <input type="text" id='texte' name='texte'>
        <input type='submit' value='submit'>
    </form>
</body>
</html>